<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FavoriteMapper">

    <insert id="insertFavorite" parameterType="com.boot.dto.Favorite">
        INSERT INTO ev_favorite (
            user_no, stnAddr, stnPlace, rapidCnt, slowCnt, carType
        ) VALUES (
            #{userNo}, #{stnAddr}, #{stnPlace}, #{rapidCnt}, #{slowCnt}, #{carType}
        )
    </insert>

</mapper>