<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.FavoritesDAO">

    <insert id="addFavorite">
        INSERT INTO EV_user_favorites (user_no, user_id, station_id)
        VALUES (#{user_no}, #{user_id}, #{station_id})
    </insert>

    <delete id="removeFavorite">
        DELETE FROM EV_user_favorites
        WHERE user_no = #{user_no} AND user_id = #{user_id} AND station_id = #{station_id}
    </delete>

    <select id="getFavorites" resultType="com.boot.dto.FavoritesDTO">
        SELECT user_no, user_id, station_id
        FROM EV_user_favorites
        WHERE user_no = #{user_no} AND user_id = #{user_id}
    </select>

</mapper>
